@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes orbit-inner {
  from { transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes orbit-outer {
  from { transform: translate(-50%, -50%) rotate(0deg) translateX(245px) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg) translateX(245px) rotate(-360deg); }
}

.orbit-inner {
  animation: orbit-inner 10s linear infinite;
}

.orbit-outer {
  animation: orbit-outer 20s linear infinite;
}